.account-management-details {
  width: 100%;
  background: rgb(239, 240, 241);

  #editor {
    width: 795px;
    margin: 0 auto;
    background: white;
    white-space: pre;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
